@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root {
    --opacity: 0;
}

/* navbar styles */
.navbar {
    display: flex;
    flex-direction: row-reverse;
}

.navbar--menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 500px;
    list-style: none;
}

.navbar--link {
    text-decoration: none;
}
/* Background styles */
.background {
    /* position: absolute; */
    min-height: 500vh;
    background: linear-gradient(to bottom, rgb(71, 125, 187), rgb(96, 137, 184),rgb(219, 194, 82),rgb(148, 19, 19),rgb(9, 2, 48),rgb(4, 0, 26));
    display: flex;
    flex-direction: column;
    
    /* position: relative; */
}


#stars--background{
    /* top: 400vh; */
    min-height: 200vh;
    display: block;
    position: relative;
    align-items: end;
    top: 300vh;
    opacity: var(--opacity);
    background: url(images/stars.png);
    /* justify-self:  flex-end; */
}

#aurora--container {
    position: absolute;
    align-self: flex-start;
    opacity: var(--opacity);
}

#aurora {
    height: 150vh;
    /* border: solid black; */
    width: 150vw;
    overflow: hidden;
    -webkit-animation: changeColor 5s infinite;
    -moz-animation:    changeColor 5s infinite;
    -o-animation:      changeColor 5s infinite;
    animation:         changeColor 5s infinite;
    
}

@-webkit-keyframes changeColor {
    0%   { -webkit-filter: hue-rotate(0deg); }
    100% { -webkit-filter: hue-rotate(360deg); }
}
@-moz-keyframes changeColor {
    0%   { -moz-filter: hue-rotate(0deg); }
    100% { -moz-filter: hue-rotate(360deg); }
}
@-o-keyframes changeColor {
    0%   { -o-filter: hue-rotate(0deg); }
    100% { -o-filter: hue-rotate(360deg); }
}
@keyframes changeColor {
    0%   { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}
.container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* align-items: flex-start; */
    overflow: hidden;
}

/* Sun Styles */
#sun {
    min-width: 10vw;
    min-height: 10vw;
    background-color: white;
    /* position: relative; */
    z-index: 2;
    border-radius: 50%;
}

#sun--ray {
    padding: 75%;
    border-radius: 50%;
    background: radial-gradient(yellow, rgba(255, 255, 0, 0), transparent);
    box-sizing:border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* mix-blend-mode:luminosity */
}
#sun--container { 
    padding: 150px;;
    border-radius: 50%;
    max-width: 20vw;
    max-height: 20vw;
    /* border: solid black; */
    box-sizing:content-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mountain Styles */
#mountains {
    z-index: 100;
    width: 100%;
    -webkit-animation: changeBrightness 5s linear infinite;
    -moz-animation:    changeBrightness 5s linear infinite;
    -o-animation:      changeBrightness 5s linear infinite;
    animation:         changeBrightness 5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -4s);
}
@-webkit-keyframes changeBrightness {
    0%   { -webkit-filter:hue-rotate(0deg) brightness(1); }
    100% { -webkit-filter:hue-rotate(360deg) brightness(0); }
}
@-moz-keyframes changeBrightness {
    0%   { -moz-filter:hue-rotate(0deg) brightness(1); }
    100% { -moz-filter:hue-rotate(360deg) brightness(0); }
}
@-o-keyframes changeBrightness {
    0%   { -o-filter:hue-rotate(0deg) brightness(1); }
    100% { -o-filter:hue-rotate(360deg) brightness(0); }
}
@keyframes changeBrightness {
    0%   { filter:hue-rotate(0deg)brightness(1); }
    100% { filter:hue-rotate(360deg) brightness(0); }
}

