@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root {
    --opacity: 0;
}

/* navbar styles */
.navbar {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.navbar--menu {
    /* border: solid black; */
    position: fixed;
    display: flex;
    justify-content:  space-between;
    margin-top: 20px;
    width: auto;
    list-style: none;
}

.navbar--link {
    font-size: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border: solid 2px white;
    border-radius: 20px;
    margin: 5px;

}

.navbar--link:hover {
    background-color: rgba(255, 255, 255, 0.501);
    color: black;
}

/* Mobile Nav Bar */
@media screen and (max-width: 920px){
    nav {
        display: flex;
    }

    .navbar {
        /* border: solid black; */
        transition: all 0.5s ease;
        display: flex;
        position: fixed;
        justify-content: space-evenly;
        background: rgba(0, 0, 0, 0.5);
        height: 50px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        z-index: 1;
        cursor: auto;
    }

    /* Triple Line Icon */

    .toggle--container {
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        /* border: solid black; */

    }
    #navbar--toggle {
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    #navbar--toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 03.s ease-in-out;
        background: white;
        display: block;
        transition: all 0.5s ease;
        /* z-index: 100; */
    }

    #navbar--toggle.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #navbar--toggle.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #navbar--toggle.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    

    /* Mobile Page Styles */

    .page h1 {
        z-index: 11;
    }
    #mountains {
        z-index: 100;
    }
    /* Mobile Nav Menu Styles */

    .navbar--menu {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        /* border: solid white; */
        border-radius: 20px;
        margin-top: 80px;
        width: 80%;
        position: absolute;
        top: -1000px;
        background: rgba(255, 255, 255, 0.487);
        transition: all 0.5s ease;
    }


    .navbar--menu.active {
        top: 100%;
        transition: all 0.5s ease;

    }
    .navbar--item {
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* border: solid white; */
        /* padding: 20px; */

    }

    #home {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #machine--learning {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .navbar--link {
        border-radius: 0px;
        margin: 0px;
        padding: 20px;
        z-index: 100;
        text-align: center;
        color: black;
        border: none;
        background: none;
    }

    .navbar--link:hover {
        background-color: rgba(0, 0, 0, 0.501);
        color: rgb(255, 255, 255);
    }

    .navbar--toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
    }


}

.content {
    /* border: solid black; */
    z-index: 99;
    pointer-events: none;
    position: absolute;
    display: grid;
    grid-template-rows: 100vh 100vh 100vh 100vh;
}

/* Page Styles */
.page {
    /* min-height: 125vh; */
    display: flex;
    /* position: relative; */
}

.page h1 {
    /* margin-top: 8vh; */
    color: white;
    padding-left: 20px;
}

/* Home Page Styles */
.home-page__container {
    position: absolute;
    /* border: solid black; */
    width: 99vw;
    display: flex;
    justify-content: space-around;
    margin-top: 40vh;
}

.text__container {
    display: flex;
    flex-direction: column;
}

#welcome--title {
    text-align: center;
    font-size: 75px;
}
#home-page--details {
    text-align: center;
    color: white;
    font-size: 20px;
}

/* About Page Styles */
.about-page__container {
    position: absolute;
    width: 99vw;
    display: flex;
    justify-content: space-around;
}

.timeline__container {
    /* border: solid black; */
    margin-top: 20vh;
    width: 80vw;
    height: 100px;
    position: relative;
    display: flex;
}

.timeline {
    position: absolute;
    width: 100%;
    background: white;
    margin-top: 45px;
    height: 5px;
}

.timeline-0__container{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;

}
.timeline-0__container .text__container {
    /* border: solid black; */
    margin-top: 100px;
    width: 50%;
}

.timeline-0__container p{
    color: white;
    text-align: left;
}


.timeline-1__container {
    position: absolute;
    display: flex;
    height: 100%;
    margin-left: 30%;
}
.timeline-1__container .text__container {
    margin-top: 100px;
    width: 50%;
}

.timeline-1__container p {
    color: white;
}

.timeline-2__container {
    position: absolute;
    display: flex;
    height: 100%;
    margin-left: 40%;
}

.timeline-2__container .text__container {
    /* border: solid black; */
    /* margin-bottom: 200px; */
    transform: translateY(-100px);
    width: 50%;
}

.timeline-2__container p{
    color: white;
}

.timeline-3__container {
    /* border: solid black; */
    position: absolute;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    height: 100%;
    margin-left: 50%;
    margin-top: 39px;
    /* border: solid black; */
    
}

.timeline-3__container p {
    color: white;
}

.circle-time-marker {
    position: absolute;
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.arrow__container {

}

.arrow {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 25px solid white;
    transform: translateY(-5px);
}



.time-marker {
    position: absolute;
    background: white;
    height: 100%;
    width: 5px;
}

.timeline-4__container {
    position: absolute;
    display: flex;
    height: 100%;
    margin-left: 100%;
    
}

.timeline-4__container .text__container {
    margin-top: 100px;
    width: 50%;
}

.timeline-4__container p {
    color: white;
}
/* Background styles */
.background {
    /* position: absolute; */
    height: 400vh;
    background: linear-gradient(to bottom, rgb(71, 125, 187), rgb(96, 137, 184),rgb(219, 194, 82),rgb(148, 19, 19) 70%,rgb(9, 2, 48) 76%,rgb(4, 0, 26));
    display: flex;
    flex-direction: column;
    
    /* position: relative; */
}

#scene--container {
    pointer-events: none;
}


#stars--background{
    /* top: 400vh; */
    pointer-events: none;
    min-height: 200vh;
    display: block;
    position: relative;
    align-items: end;
    top: 200vh;
    opacity: var(--opacity);
    background: url(images/stars.png);
    /* justify-self:  flex-end; */
}

#aurora--container {
    position: fixed;
    align-self: flex-start;
    opacity: var(--opacity);
}

#aurora {
    height: 150vh;
    /* border: solid black; */
    width: 150vw;
    overflow: hidden;
    -webkit-animation: changeColor 5s infinite;
    -moz-animation:    changeColor 5s infinite;
    -o-animation:      changeColor 5s infinite;
    animation:         changeColor 5s infinite;
    
}

@-webkit-keyframes changeColor {
    0%   { -webkit-filter: hue-rotate(0deg); }
    25%  { -webkit-filter: hue-rotate(10deg)}
    100% { -webkit-filter: hue-rotate(360deg); }
}
@-moz-keyframes changeColor {
    0%   { -moz-filter: hue-rotate(0deg); }
    25%  { -moz-filter: hue-rotate(10deg)}
    100% { -moz-filter: hue-rotate(360deg); }
}
@-o-keyframes changeColor {
    0%   { -o-filter: hue-rotate(0deg); }
    25%  { -o-filter: hue-rotate(10deg)}
    100% { -o-filter: hue-rotate(360deg); }
}
@keyframes changeColor {
    0%   { filter: hue-rotate(0deg); }
    25%  { filter: hue-rotate(10deg)}
    100% { filter: hue-rotate(360deg); }
}
.container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* align-items: flex-start; */
    overflow: hidden;
}

/* Sun Styles */
#sun {
    min-width: 15vh;
    min-height: 15vh;
    background-color: white;
    /* position: relative; */
    z-index: 2;
    border-radius: 50%;
}

#sun--ray {
    padding: 75%;
    border-radius: 50%;
    background: radial-gradient(yellow, rgba(255, 255, 0, 0), transparent);
    box-sizing:border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* mix-blend-mode:luminosity */
}

#sun--container { 
    padding: 150px;;
    border-radius: 50%;
    max-width: 15vh;
    max-height: 15vh;
    /* border: solid black; */
    box-sizing:content-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mountain Styles */
#mountains {
    z-index: 100;
    min-height: 50vh;
    min-width: 100%;
    -webkit-animation: changeBrightness 5s linear infinite;
    -moz-animation:    changeBrightness 5s linear infinite;
    -o-animation:      changeBrightness 5s linear infinite;
    animation:         changeBrightness 5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -4s);
}
@-webkit-keyframes changeBrightness {
    0%   { -webkit-filter:hue-rotate(0deg) brightness(1); }
    100% { -webkit-filter:hue-rotate(360deg) brightness(0); }
}
@-moz-keyframes changeBrightness {
    0%   { -moz-filter:hue-rotate(0deg) brightness(1); }
    100% { -moz-filter:hue-rotate(360deg) brightness(0); }
}
@-o-keyframes changeBrightness {
    0%   { -o-filter:hue-rotate(0deg) brightness(1); }
    100% { -o-filter:hue-rotate(360deg) brightness(0); }
}
@keyframes changeBrightness {
    0%   { filter:hue-rotate(0deg)brightness(1); }
    100% { filter:hue-rotate(360deg) brightness(0); }
}

